body {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: white;
    font: roboto;
  }
  #stock-cards {
    background-color: darkgray;
    border: 5px;
    
    padding: 8px 12px;
    columns: 2;
    column-gap: 50px;
    
  }